<ion-view view-title="{{vm.event.title}}" ng-controller="eventCtrl as vm">
    <ion-content padding="true">
        <div class="text-center">
            <h2>
                {{vm.events[0].date  | date:"MMMM dd',' yyyy"}}
                <a class="button button-icon icon ion-edit"></a>
                <a class="button button-icon icon ion-trash-a"></a>
            </h2>
            <div class="list">
                <div class="item item-divider">
                    You suggested (select option)</div>
                <ion-checkbox  ng-model="suggest.value" ng-repeat="suggest in vm.event.suggestions">
                {{suggest.title}}
                <span style="float: right; font-size: 10px;">{{suggest.votes}} votes</span>
                </ion-checkbox>
            </div>
            <div class="list">
                <div class="item item-divider">
                    You Invited </div>
                <div class="item" ng-repeat="friend in vm.event.friends">
                    {{friend}}
                </div>
            </div>
            <div class="button-bar">
                <a class="button button-positive" ng-click="vm.selectedEvent()">Accept Event</a>
            </div>
    </ion-content>
</ion-view>
