<ion-view title="Invitations" class="bar-positive" ng-controller="invitationCtrl as vm">
    <ion-content padding="true" class="has-header padding">
        <div class="list">
            <div class="item item-icon-right item-text-wrap" ng-repeat="event in vm.events track by $index" ng-click="vm.selectEvent($index)">
                <div class="row row-center">
                  <div class="col">{{event.title}} <br>
                    <div style="font-size: 10px;">
                              Created by {{event.createdby}}
                    </div>
                  </div>
                  <div class="col-30" style="float:right;"> 
                    {{event.date | date:'MMMM dd'}}                
                </div>
                <div class="col-10"><i class="icon ion-chevron-right ion-accessory"></i></div>
            </div>
        </div>
    </ion-content>
</ion-view>

